h1 {
  font-weight: italic;
  color: black;
  background-color: solid yellow;
  border-radius: 20px 150px 20px 150px;
  padding: 100px 20px 100px 20px;
}

body {
  background-image: linear-gradient(blue, purple, yellow);
}
